<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <h1>Main hub</h1>
</head>
<body>
    <h2>Add a person</h2>
    <form action="/add-person" method="post">
        <table>
            <tr>
                <td>
                    <input type="radio" id="student" name="role" value="Student">
                    <label for="student">Student</label><br>
                    <input type="radio" id="teacher" name="role" value="Teacher">
                    <label for="teacher">Teacher</label><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">Name:</label> <br>
                    <input type="text" name="name" id="name" /> <br>
                    <label for="password">Password:</label> <br>
                    <input type="password" name="password" id="password" /> <br>

                    <label for="room">Room id:</label> <br>
                    <select name="room" id="room">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                    <input type="reset" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
    <form action="/display-rooms" method="post" style="padding: 20px 0px">
        <button onclick="/display-rooms" style="padding: 25px 20px; font-size: 1.5rem; font-weight: bold">Display Rooms</button>
    </form>
</body>
